## 11월 25일 주차장 안내정보 데이터 수정

### 문제 발생 : PK가 없다.
### 문제 발생 원인 : 주차장코드는 PK 코드가 될 수 있다. 
###                         주차장 위도, 경도 변수가 주차장 자리 하나마다 할당되어 저장된 데이터들이 있다.
### 문제 해결 방법 : 주차장 위도, 경도 변수를 삭제한다.
### 문제 해결 방법2 : 데이터프레임에서 중복되는 행을 삭제한다.
### 문제 해결 완료! : 주차장코드를 PK로 삼는다.

In [11]:
# 데이터 불러오기
import pandas as pd
data=pd.read_csv('/Users/yerim/Desktop/parkingseoul/data/서울시 공영주차장 안내정보_편집본(1).csv', encoding='euc-kr')
data.head()

,주차장코드,주차장명,주소,주차장 종류,주차장 종류명,운영구분,운영구분명,전화번호,총 주차면,유무료구분,...,"공휴일 유,무료 구분명",기본 주차 요금,기본 주차 시간(분 단위),추가 단위 요금,추가 단위 시간(분 단위),일 최대 요금,주차장 위치 좌표 위도,주차장 위치 좌표 경도,구,행정동
0,1012254,마들스타디움(근린공원)(구),노원구 상계동 770-2,NW,노외 주차장,1,시간제 주차장,02-2289-6735,177,Y,...,무료,150.0,5.0,150.0,5.0,11000.0,37.643917,127.058567,노원구,상계동
1,1013181,마장동공영주차장(구),성동구 마장동 463-2,NW,노외 주차장,1,시간제 주차장,NaN,53,N,...,유료,NaN,NaN,NaN,NaN,NaN,37.569939,127.035145,성동구,마장동
2,1025696,당산근린공원 공영(구),영등포구 당산동3가 385-0,NW,노외 주차장,1,시간제 주차장,02-2677-1401,190,Y,...,무료,150.0,5.0,150.0,5.0,0.0,37.525526,126.895794,영등포구,당산동3가
3,1025697,대림운동장(구),영등포구 대림동 780-0,NW,노외 주차장,1,시간제 주차장,02-2677-1401,192,Y,...,무료,50.0,5.0,50.0,5.0,NaN,37.499657,126.894838,영등포구,대림동
4,1028245,방학동 도깨비시장 공영주차장(구),도봉구 방학동 632-1,NW,노외 주차장,3,시간제 + 거주자 주차장,02-901-5100,80,Y,...,무료,100.0,5.0,100.0,5.0,0.0,37.664581,127.033906,도봉구,방학동

In [12]:
# 데이터 정보 확인
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7647 entries, 0 to 7646
Data columns (total 33 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   주차장코드              7647 non-null   int64
 1   주차장명               7647 non-null   object
 2   주소                 7647 non-null   object
 3   주차장 종류             7647 non-null   object
 4   주차장 종류명            7647 non-null   object
 5   운영구분               7647 non-null   int64
 6   운영구분명              7647 non-null   object
 7   전화번호               2554 non-null   object
 8   총 주차면              7647 non-null   int64
 9   유무료구분              7647 non-null   object
 10  유무료구분명             7647 non-null   object
 11  야간무료개방여부           7647 non-null   object
 12  야간무료개방여부명          7647 non-null   object
 13  평일 운영 시작시각(HHMM)   7647 non-null   int64
 14  평일 운영 종료시각(HHMM)   7647 non-null   int64
 15  주말 운영 시작시각(HHMM)   7647 non-null   int64
 16  주말 운영 종료시각(HHMM)   7647 non-null   int64
 17  공휴일 운영 시작시각(HHMM)  7647 non-null   int64
 18  공휴일 운영 종료시각(HHMM)  7647 non-null   int64
 19  최종데이터 동기화 시간       7647 non-null   object
 20  토요일 유,무료 구분        7647 non-null   object
 21  토요일 유,무료 구분명       7647 non-null   object
 22  공휴일 유,무료 구분        7647 non-null   object
 23  공휴일 유,무료 구분명       7647 non-null   object
 24  기본 주차 요금           7633 non-null   float64
 25  기본 주차 시간(분 단위)     7633 non-null   float64
 26  추가 단위 요금           7390 non-null   float64
 27  추가 단위 시간(분 단위)     7390 non-null   float64
 28  일 최대 요금            7014 non-null   float64
 29  주차장 위치 좌표 위도       7641 non-null   float64
 30  주차장 위치 좌표 경도       7641 non-null   float64
 31  구                  7647 non-null   object
 32  행정동                7647 non-null   object
dtypes: float64(7), int64(9), object(17)
memory usage: 1.9+ MB

In [13]:
# 주차장 위치 좌표 위도와 경도 삭제
del data['주차장 위치 좌표 위도']
del data['주차장 위치 좌표 경도']
del data['주말 운영 시작시각(HHMM)']
del data['주말 운영 종료시각(HHMM)']
del data['공휴일 운영 시작시각(HHMM)']
del data['공휴일 운영 종료시각(HHMM)']
del data['토요일 유,무료 구분']
del data['토요일 유,무료 구분명']
del data['공휴일 유,무료 구분']
del data['공휴일 유,무료 구분명']

In [14]:
# 위도 경도 변수 삭제 후 데이터 확인
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7647 entries, 0 to 7646
Data columns (total 23 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   주차장코드             7647 non-null   int64
 1   주차장명              7647 non-null   object
 2   주소                7647 non-null   object
 3   주차장 종류            7647 non-null   object
 4   주차장 종류명           7647 non-null   object
 5   운영구분              7647 non-null   int64
 6   운영구분명             7647 non-null   object
 7   전화번호              2554 non-null   object
 8   총 주차면             7647 non-null   int64
 9   유무료구분             7647 non-null   object
 10  유무료구분명            7647 non-null   object
 11  야간무료개방여부          7647 non-null   object
 12  야간무료개방여부명         7647 non-null   object
 13  평일 운영 시작시각(HHMM)  7647 non-null   int64
 14  평일 운영 종료시각(HHMM)  7647 non-null   int64
 15  최종데이터 동기화 시간      7647 non-null   object
 16  기본 주차 요금          7633 non-null   float64
 17  기본 주차 시간(분 단위)    7633 non-null   float64
 18  추가 단위 요금          7390 non-null   float64
 19  추가 단위 시간(분 단위)    7390 non-null   float64
 20  일 최대 요금           7014 non-null   float64
 21  구                 7647 non-null   object
 22  행정동               7647 non-null   object
dtypes: float64(5), int64(5), object(13)
memory usage: 1.3+ MB

In [15]:
# 데이터프레임에서 중복되는 행 제거
data = data.drop_duplicates(subset=None, keep='first', inplace=False, ignore_index=True)

In [16]:
# 데이터프레임에서 중복되는 행 제거후 데이터 확인
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 575 entries, 0 to 574
Data columns (total 23 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   주차장코드             575 non-null    int64
 1   주차장명              575 non-null    object
 2   주소                575 non-null    object
 3   주차장 종류            575 non-null    object
 4   주차장 종류명           575 non-null    object
 5   운영구분              575 non-null    int64
 6   운영구분명             575 non-null    object
 7   전화번호              311 non-null    object
 8   총 주차면             575 non-null    int64
 9   유무료구분             575 non-null    object
 10  유무료구분명            575 non-null    object
 11  야간무료개방여부          575 non-null    object
 12  야간무료개방여부명         575 non-null    object
 13  평일 운영 시작시각(HHMM)  575 non-null    int64
 14  평일 운영 종료시각(HHMM)  575 non-null    int64
 15  최종데이터 동기화 시간      575 non-null    object
 16  기본 주차 요금          561 non-null    float64
 17  기본 주차 시간(분 단위)    561 non-null    float64
 18  추가 단위 요금          547 non-null    float64
 19  추가 단위 시간(분 단위)    547 non-null    float64
 20  일 최대 요금           435 non-null    float64
 21  구                 575 non-null    object
 22  행정동               575 non-null    object
dtypes: float64(5), int64(5), object(13)
memory usage: 103.4+ KB

In [17]:
# 중복되는 행 제거, 위도, 경도 변수 삭제 후 주차장 코드 확인
print(data['주차장코드'].value_counts())
print(data['주차장코드'].value_counts().sum())

1012254    1
171721     1
1706234    1
1706638    1
1707798    1
          ..
1526388    1
1526488    1
1526548    1
1526780    1
984688     1
Name: 주차장코드, Length: 575, dtype: int64
575

In [18]:
# 이제 주차장 코드는 PK가 되었다.
code1 = data[data['주차장코드']== 1535968]
code1.head()

,주차장코드,주차장명,주소,주차장 종류,주차장 종류명,운영구분,운영구분명,전화번호,총 주차면,유무료구분,...,평일 운영 시작시각(HHMM),평일 운영 종료시각(HHMM),최종데이터 동기화 시간,기본 주차 요금,기본 주차 시간(분 단위),추가 단위 요금,추가 단위 시간(분 단위),일 최대 요금,구,행정동
210,1535968,마장축산물시장 남문(구),성동구 마장동 805-0,NS,노상 주차장,1,시간제 주차장,NaN,1,Y,...,900,1900,2019-06-10 11:14:09,250.0,5.0,250.0,5.0,10000.0,성동구,마장동

In [19]:
data.to_csv('주차장 안내 정보 파일_최종.csv',  encoding='euc-kr', index=False)

In [20]:
data=pd.read_csv('주차장 안내 정보 파일_최종.csv',encoding='euc-kr')
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 575 entries, 0 to 574
Data columns (total 23 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   주차장코드             575 non-null    int64
 1   주차장명              575 non-null    object
 2   주소                575 non-null    object
 3   주차장 종류            575 non-null    object
 4   주차장 종류명           575 non-null    object
 5   운영구분              575 non-null    int64
 6   운영구분명             575 non-null    object
 7   전화번호              311 non-null    object
 8   총 주차면             575 non-null    int64
 9   유무료구분             575 non-null    object
 10  유무료구분명            575 non-null    object
 11  야간무료개방여부          575 non-null    object
 12  야간무료개방여부명         575 non-null    object
 13  평일 운영 시작시각(HHMM)  575 non-null    int64
 14  평일 운영 종료시각(HHMM)  575 non-null    int64
 15  최종데이터 동기화 시간      575 non-null    object
 16  기본 주차 요금          561 non-null    float64
 17  기본 주차 시간(분 단위)    561 non-null    float64
 18  추가 단위 요금          547 non-null    float64
 19  추가 단위 시간(분 단위)    547 non-null    float64
 20  일 최대 요금           435 non-null    float64
 21  구                 575 non-null    object
 22  행정동               575 non-null    object
dtypes: float64(5), int64(5), object(13)
memory usage: 103.4+ KB