### 서울시 공영주차장 안내 정보 CSV 파일

In [49]:
# 서울시 공영주차장 안내정보 csv 파일 데이터 분석을 위해 판다스 사용
import pandas as pd

data=pd.read_csv('/Users/yerim/Desktop/parkingseoul/서울시 공영주차장 안내 정보.csv', encoding='euc-kr')

In [50]:
# 데이터 정보 확인
data.info()

'''
총 14698개의 주차장
변수(총 37개) : 주차장코드 , 주차장명, 주소, 주차장 종류, 주차장 종류명, 운영구분, 운영구분명, 전화번호, 총 주차면, 유무료구분, 유무료구분명, 
야간무료개방여부, 야간무료개방여부명, 평일 운영 시작시간, 평일 운영 종료시각, 주말 운영 시작시간, 주말 운영종료시각, 공휴일 운영 시작시간, 주말 운영 종료시각, 
최종 데이터 동기화 시간, 토요일 유무료 구분, 토요일 유무료구분명, 공휴일 유무료 구분, 공휴일 유무료 구분명, 월 정기권 금액, 노상 주차장 관리그룹번호,
기본 주차 요금, 기본 주차 시간(분 단위), 추가 단위 요금, 추가 단위 시간(분 단위), 버스 기본 주차 요금, 버스 기본 주차 시간(분 단위), 
버스 추가 단위 요금, 버스 추가 단위 시간(분 단위), 일 최대 요금, 주차장 위치 좌표 위도, 주차장 위치 좌표 경도

# 전화본호 non-null 5132개 -> null 값의 경우. 정보 없음으로 뜨게 해야함
# 월 정기권 금액 non-nul 13832Ro -> 월 정기권 금액 정보 사용하지 않음
# 버스 ..? -> 빼기!
'''

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8000 entries, 0 to 7999
Data columns (total 37 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   주차장코드              8000 non-null   int64
 1   주차장명               8000 non-null   object
 2   주소                 8000 non-null   object
 3   주차장 종류             8000 non-null   object
 4   주차장 종류명            8000 non-null   object
 5   운영구분               8000 non-null   int64
 6   운영구분명              8000 non-null   object
 7   전화번호               2830 non-null   object
 8   총 주자면              8000 non-null   int64
 9   유무료구분              8000 non-null   object
 10  유무료구분명             8000 non-null   object
 11  야간무료개방여부           8000 non-null   object
 12  야간무료개방여부명          8000 non-null   object
 13  평일 운영 시작시각(HHMM)   8000 non-null   int64
 14  평일 운영 종료시각(HHMM)   8000 non-null   int64
 15  주말 운영 시작시각(HHMM)   8000 non-null   int64
 16  주말 운영 종료시각(HHMM)   8000 non-null   int64
 17  공휴일 운영 시작시각(HHMM)  8000 non-null   int64
 18  공휴일 운영 종료시각(HHMM)  8000 non-null   int64
 19  최종데이터 동기화 시간       8000 non-null   object
 20  토요일 유,무료 구분        8000 non-null   object
 21  토요일 유,무료 구분명       8000 non-null   object
 22  공휴일 유,무료 구분        8000 non-null   object
 23  공휴일 유,무료 구분명       8000 non-null   object
 24  월 정기권 금액           7481 non-null   float64
 25  노상 주차장 관리그룹번호      7674 non-null   float64
 26  기본 주차 요금           7981 non-null   float64
 27  기본 주차 시간(분 단위)     7981 non-null   float64
 28  추가 단위 요금           7738 non-null   float64
 29  추가 단위 시간(분 단위)     7738 non-null   float64
 30  버스 기본 주차 요금        7960 non-null   float64
 31  버스 기본 주차 시간(분 단위)  7960 non-null   float64
 32  버스 추가 단위 시간(분 단위)  7960 non-null   float64
 33  버스 추가 단위 요금        7960 non-null   float64
 34  일 최대 요금            7362 non-null   float64
 35  주차장 위치 좌표 위도       7994 non-null   float64
 36  주차장 위치 좌표 경도       7994 non-null   float64
dtypes: float64(13), int64(9), object(15)
memory usage: 2.3+ MB

'\n총 14698개의 주차장\n변수(총 39개) : 주차장코드 , 주차장명, 주소, 주차장 종류, 주차장 종류명, 운영구분, 운영구분명, 전화번호, 총 주차면, 유무료구분, 유무료구분명, \n야간무료개방여부, 야간무료개방여부명, 평일 운영 시작시간, 평일 운영 종료시각, 주말 운영 시작시간, 주말 운영종료시각, 공휴일 운영 시작시간, 주말 운영 종료시각, \n최종 데이터 동기화 시간, 토요일 유무료 구분, 토요일 유무료구분명, 공휴일 유무료 구분, 공휴일 유무료 구분명, 월 정기권 금액, 노상 주차장 관리그룹번호,\n기본 주차 요금, 기본 주차 시간(분 단위), 추가 단위 요금, 추가 단위 시간(분 단위), 버스 기본 주차 요금, 버스 기본 주차 시간(분 단위), \n버스 추가 단위 요금, 버스 추가 단위 시간(분 단위), 일 최대 요금, 주차장 위치 좌표 위도, 주차장 위치 좌표 경도, 배정코드, 배정코드명\n\n# 전화본호 non-null 5132개 -> null 값의 경우. 정보 없음으로 뜨게 해야함\n# 월 정기권 금액 non-nul 13832Ro -> 월 정기권 금액 정보 사용하지 않음\n# 버스 ..? -> 빼기!\n'

In [51]:
# 데이터 케이스 확인
data.head()

,주차장코드,주차장명,주소,주차장 종류,주차장 종류명,운영구분,운영구분명,전화번호,총 주자면,유무료구분,...,기본 주차 시간(분 단위),추가 단위 요금,추가 단위 시간(분 단위),버스 기본 주차 요금,버스 기본 주차 시간(분 단위),버스 추가 단위 시간(분 단위),버스 추가 단위 요금,일 최대 요금,주차장 위치 좌표 위도,주차장 위치 좌표 경도
0,1012254,마들스타디움(근린공원)(구),노원구 상계동 770-2,NW,노외 주차장,1,시간제 주차장,02-2289-6735,177,Y,...,5.0,150.0,5.0,0.0,0.0,0.0,0.0,11000.0,37.643917,127.058567
1,1013181,마장동공영주차장(구),성동구 마장동 463-2,NW,노외 주차장,1,시간제 주차장,NaN,53,N,...,NaN,NaN,NaN,0.0,0.0,0.0,0.0,NaN,37.569939,127.035145
2,1025696,당산근린공원 공영(구),영등포구 당산동3가 385-0,NW,노외 주차장,1,시간제 주차장,02-2677-1401,190,Y,...,5.0,150.0,5.0,0.0,0.0,0.0,0.0,0.0,37.525526,126.895794
3,1025697,대림운동장(구),영등포구 대림동 780-0,NW,노외 주차장,1,시간제 주차장,02-2677-1401,192,Y,...,5.0,50.0,5.0,0.0,0.0,0.0,0.0,NaN,37.499657,126.894838
4,1028245,방학동 도깨비시장 공영주차장(구),도봉구 방학동 632-1,NW,노외 주차장,3,시간제 + 거주자 주차장,02-901-5100,80,Y,...,5.0,100.0,5.0,0.0,0.0,0.0,0.0,0.0,37.664581,127.033906

In [52]:
# 주차장코드 속성 확인
data['주차장코드'].value_counts()

1557268    194
1535968    175
1572855    164
1557908    117
1535957    109
          ...
173553       1
1594835      1
173521       1
1576344      1
1372154      1
Name: 주차장코드, Length: 614, dtype: int64

In [53]:
# 주차장명 속성 확인
data['주차장명'].value_counts()

묵중안공영주차장(구)           194
마장축산물시장 남문(구)         175
KT성수분국 앞(구)           164
나들목공영주차장(구)           117
마장동거주자우선주차장(구)        109
                     ...
반포동 방음언덕형 공영주차장(구)      1
도봉권역공영차고지(시)            1
도봉2동 법조타운 공영주차장(구)      1
반포4동 주민센터 공영주차장(구)      1
구본청 부설주차장(구)            1
Name: 주차장명, Length: 593, dtype: int64

In [54]:
# 주소 속성 확인
data['주소'].value_counts()

중랑구 중화동 250-39      194
성동구 마장동 805-0       175
성동구 성수동2가 277-43    164
중랑구 중화동 304-36      117
성동구 마장동 812-0       109
                   ...
금천구 시흥동 704-56        1
관악구 신림동 498-0         1
관악구 봉천동 682-0         1
강서구 화곡동 342-16        1
성동구 성수동1가 366-1       1
Name: 주소, Length: 598, dtype: int64

In [55]:
# 주차장 종류 속성 확인
data['주차장 종류'].value_counts()

NS    7674
NW     326
Name: 주차장 종류, dtype: int64

In [56]:
# 주차장 종류명 속성 확인
data['주차장 종류명'].value_counts()

노상 주차장    7674
노외 주차장     326
Name: 주차장 종류명, dtype: int64

In [57]:
# 운영구분 속성 확인
data['운영구분'].value_counts()

1    5783
3    1440
2     407
6     200
4     153
5      17
Name: 운영구분, dtype: int64

In [58]:
# 운영구분명 속성 확인
data['운영구분명'].value_counts()

시간제 주차장           5783
시간제 + 거주자 주차장     1440
거주자 우선 주차장         407
이륜차 전용 주차장         200
버스전용 주차장           153
시간제 + 버스전용 주차장      17
Name: 운영구분명, dtype: int64

In [59]:
# 유무료구분 속성 확인
data['유무료구분'].value_counts()

Y    7630
N     370
Name: 유무료구분, dtype: int64

In [60]:
# 유무료구분명 속성 확인
data['유무료구분명'].value_counts()

유료    7630
무료     370
Name: 유무료구분명, dtype: int64

In [61]:
# 야간무료개방여부 속성 확인
data['야간무료개방여부'].value_counts()

N    8000
Name: 야간무료개방여부, dtype: int64

In [62]:
# 야간무료개방여부명 속성 확인
data['야간무료개방여부명'].value_counts()

야간 미개방    8000
Name: 야간무료개방여부명, dtype: int64

In [63]:
# 평일 운영 시작시간(HHMM) 속성 확인
data['평일 운영 시작시각(HHMM)'].value_counts()

900     5148
0       1436
1000     543
830      329
800      273
1100     102
1200      86
1300      50
700       16
1130      12
600        3
1030       1
919        1
Name: 평일 운영 시작시각(HHMM), dtype: int64

In [64]:
# 평일 운영 종료시각(HHMM) 속성 확인
data['평일 운영 종료시각(HHMM)'].value_counts()

1900    4080
0       1085
1800     918
2100     472
2000     445
2200     343
2400     315
2300     290
2359      38
2130      12
1700       1
1730       1
Name: 평일 운영 종료시각(HHMM), dtype: int64

In [65]:
# 주말 운영 시작시각(HHMM) 속성 확인
data['주말 운영 시작시각(HHMM)'].value_counts()

900     4670
0       2489
1000     526
800       98
1200      86
1100      56
1300      50
1130      12
830        8
600        3
1030       1
919        1
Name: 주말 운영 시작시각(HHMM), dtype: int64

In [66]:
# 주말 운영 종료시각(HHMM) 속성 확인
data['주말 운영 종료시각(HHMM)'].value_counts()

1500    3348
0       2150
2100     368
1800     362
1600     346
2200     320
2400     302
2300     288
1300     178
1900     155
2000     106
2359      38
1700      18
1730      12
1400       8
1200       1
Name: 주말 운영 종료시각(HHMM), dtype: int64

In [67]:
# 공휴일 운영 시작시각(HHMM) 속성 확인
data['공휴일 운영 시작시각(HHMM)'].value_counts()

0       6887
900      581
1000     266
1200      86
800       83
1300      50
1100      35
830        8
600        3
919        1
Name: 공휴일 운영 시작시각(HHMM), dtype: int64

In [68]:
# 공휴일 운영 종료시각(HHMM) 속성 확인
data['공휴일 운영 종료시각(HHMM)'].value_counts()

0       6503
2400     346
1800     276
2100     259
2200     237
1900     175
2300      87
2000      50
2359      38
1500      27
100        1
1200       1
Name: 공휴일 운영 종료시각(HHMM), dtype: int64

In [69]:
# 최종데이터 동기화 시간 속성 확인
data['최종데이터 동기화 시간'].value_counts()

2019-06-10 11:18:58    194
2019-06-10 11:14:09    175
2021-08-20 11:29:06    164
2019-06-10 11:20:04    117
2019-06-10 11:14:05    109
                      ...
2019-09-09 07:48:23      1
2019-06-10 09:39:25      1
2020-08-27 16:43:17      1
2019-06-10 09:36:52      1
2021-02-06 15:11:48      1
Name: 최종데이터 동기화 시간, Length: 598, dtype: int64

In [70]:
# 토요일 유,무료 구분 속성 확인
data['토요일 유,무료 구분'].value_counts()

N    6610
Y    1390
Name: 토요일 유,무료 구분, dtype: int64

In [71]:
# 토요일 유,무료 구분명 속성 확인
data['토요일 유,무료 구분명'].value_counts()

무료    6610
유료    1390
Name: 토요일 유,무료 구분명, dtype: int64

In [72]:
# 공휴일 유,무료 구분 속성 확인
data['공휴일 유,무료 구분'].value_counts()

Y    4831
N    3169
Name: 공휴일 유,무료 구분, dtype: int64

In [73]:
# 공휴일 유,무료 구분명 속성 확인
data['공휴일 유,무료 구분명'].value_counts()

유료    4831
무료    3169
Name: 공휴일 유,무료 구분명, dtype: int64

In [74]:
# 월 정기권 금액 속성 확인
data['월 정기권 금액'].value_counts()

0.0         3169
100000.0     997
80000.0      768
120000.0     487
200000.0     368
250000.0     332
130000.0     279
70000.0      258
150000.0     236
50000.0      210
90000.0       96
160000.0      67
65000.0       53
180000.0      42
60000.0       27
140000.0      21
40000.0       17
91000.0       10
280000.0       6
350000.0       5
75000.0        4
112000.0       3
240000.0       3
170000.0       3
85000.0        2
162000.0       2
168000.0       2
105000.0       2
182000.0       1
175000.0       1
42000.0        1
86000.0        1
252000.0       1
225000.0       1
66000.0        1
30000.0        1
98000.0        1
126000.0       1
96000.0        1
110000.0       1
Name: 월 정기권 금액, dtype: int64

In [75]:
#노상 주차장 관리그룹번호 속성 확인
data['노상 주차장 관리그룹번호'].value_counts()

1.126010e+12    194
1.120011e+12    175
1.120012e+12    164
1.120011e+12    121
1.126010e+12    117
               ...
1.159011e+12      1
1.174010e+12      1
1.159010e+12      1
1.159011e+12      1
1.117011e+12      1
Name: 노상 주차장 관리그룹번호, Length: 283, dtype: int64

In [76]:
# 기본 주차 요금 속성 확인
data['기본 주차 요금'].value_counts()

250.0     2482
150.0     1178
500.0     1039
0.0        759
200.0      591
300.0      415
400.0      375
100.0      332
260.0      156
1200.0     127
120.0       81
130.0       75
600.0       67
680.0       55
750.0       47
330.0       35
430.0       34
50.0        34
170.0       29
1000.0      17
350.0       16
620.0       14
65.0        12
220.0        2
700.0        2
320.0        2
800.0        1
900.0        1
80.0         1
360.0        1
75.0         1
Name: 기본 주차 요금, dtype: int64

In [77]:
# 기본 주차 시간(분 단위) 속성 확인
data['기본 주차 시간(분 단위)'].value_counts()

5.0     6510
0.0      758
10.0     558
60.0     142
30.0      13
Name: 기본 주차 시간(분 단위), dtype: int64

In [78]:
# 추가 단위 요금 속성 확인
data['추가 단위 요금'].value_counts()

0.0       1914
250.0     1649
500.0      982
200.0      551
300.0      487
1000.0     362
400.0      346
150.0      275
600.0      275
800.0      168
260.0      156
100.0      123
120.0       80
130.0       75
680.0       55
750.0       47
330.0       35
430.0       34
50.0        34
170.0       29
350.0       16
620.0       14
1200.0      12
65.0        11
220.0        2
700.0        2
320.0        2
360.0        1
80.0         1
Name: 추가 단위 요금, dtype: int64

In [79]:
# 추가 단위 시간(분 단위) 속성 확인
data['추가 단위 시간(분 단위)'].value_counts()

5.0     4091
0.0     1914
10.0    1645
30.0      76
60.0      12
Name: 추가 단위 시간(분 단위), dtype: int64

In [80]:
# 일 최대 요금 속성 확인
data['일 최대 요금'].value_counts()

0.0         4034
10000.0     1172
36000.0      582
15000.0      579
24000.0      215
9000.0       186
30000.0       99
16000.0       99
5000.0        82
16500.0       76
19800.0       71
6000.0        57
35000.0       56
20000.0       33
33000.0       11
11000.0        3
8100.0         2
2000.0         1
7000.0         1
3000.0         1
100000.0       1
50000.0        1
Name: 일 최대 요금, dtype: int64

In [83]:
# 전화번호 속성
data['전화번호'].value_counts()

02-2650-1436    605
02-2607-9113    192
02-2698-1386    177
02)2280-8367    166
02)3396-6262    149
               ...
02-939-7708       1
02-2664-1386      1
02-2290-6566      1
02-2155-7284      1
02-534-2772       1
Name: 전화번호, Length: 190, dtype: int64

In [84]:
# 총 주자면 속성 - > 오타! 총 주차면으로 바꾸기
data['총 주자면'].value_counts()

1      7674
26        7
20        7
56        6
199       5
       ...
173       1
157       1
149       1
145       1
567       1
Name: 총 주자면, Length: 168, dtype: int64